<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50961/Uppgift3_Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="Uppgift3_ServiceReference.ServiceSoap" name="ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>