<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Uppgift1_ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51873/Uppgift1_Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="Uppgift1_ServiceSoap"
                contract="Uppgift1_ServiceReference.Uppgift1_ServiceSoap"
                name="Uppgift1_ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>